body {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.b-image {
    background-image: url(../images/terms&condition.gif), url(../images/terms&condition2.gif);
    -webkit-background-size: cover;
    background-size: 50%;
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, left top;
    width: 110%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.image img {
    margin: auto;
    display: flex;
    width: 662.5px;
    height: 275px;
    z-index: 2;
}